<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flora">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".PrimeraPantalla">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Login"></activity>
        <activity android:name=".MenuEspecies"></activity>
        <activity android:name=".VisitanteListar"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".ListarEspecies"></activity>
        <activity android:name=".Clasificacion"></activity>
        <activity android:name=".ListarClasificacion"></activity>
        <activity android:name=".EliminarEspecie"></activity>
        <activity android:name=".EliminarClasificacionEspecie"></activity>
        <activity android:name=".ActualizarEspecie"></activity>
        <activity android:name=".ActualizarClasificacion"></activity>





    </application>

</manifest>